.bgImage {
  background-image: url("https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img3.webp");
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
}